.profile {
  background: lightgrey;
  border-radius: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
}
.avatar {
  border-radius: 50%;
  background-color: gray;
}

.name {
  font-weight: bold;
}

.tag {
  font-weight: 300;
  color: lightslategray;
}

.location {
  font-weight: 300;
  color: lightslategray;
}

.stats {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
}

.label {
  display: block;
}
