.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.status {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
}
